.about-main-wrap {
    padding: 20px 15px;
    text-align: center;
}

.about-title {
    padding-top: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    color: #222222;
}

.about-desc {
    padding-bottom: 40px;
    text-align: center;
    font-family: Droid-Serif, sans-serif;
    color: #777777;
    font-style: italic;
}

.about-element-wrap {
    position: relative;
    max-width: 933px;
    margin: 0 auto;
}

.about-element-wrap::before {
    content: "";
    display: none;
    position: absolute;
    left: 50%;
    top: 10px;
    bottom: 10px;
    transform: translateX(-50%);
    width: 3px;
    background-color: #f1f1f1;
    z-index: -1;
}

.about-element {
    position: relative;
    padding-top: 10px;

    &::before {
        display: none;
        content: "";
        width: 305px;
    }
}

.about-content-img {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
}

.about-content-title-xl,
.about-content-title-sm {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: -0.45px;
}

.about-content-title-xl {
    padding-top: 10px;
    text-transform: uppercase;
}

.about-content-desc {
    max-width: 305px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 40px;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
}

.about-circle {
    position: relative;
    width: 168px;
    height: 168px;
    margin: 0 auto;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    background-color: #fed136;
}

.about-circle-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about-circle-desc {
    padding-bottom: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -0.45px;
}

@media (min-width: 900px) {
    .about-title {
        padding-top: 120px;
        padding-bottom: 19px;
        font-size: 40px;
    }

    .about-desc {
        padding-bottom: 85px;
    }

    .about-element-wrap::before {
        display: block;
    }

    .about-element-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 127px;
    }

    .about-element {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        margin-bottom: 107px;

        &::before {
            display: block;
        }
    }

    .about-element:nth-child(even) {
        flex-direction: row;
    }

    .about-element {
        text-align: right;
    }

    .about-element:nth-child(even) {
        text-align: left;

    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about-content-desc {
        padding-top: 17px;
        padding-bottom: 0;
        flex-grow: 1;
    }

    .about-element:last-child {
        margin-bottom: 0;
        text-align: center;

        &::before {
            display: none;
        }
    }
}