// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: Droid-Serif,  sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Droid-Serif;
    src: url(../fonts/droid-serif/DroidSerif-Regular.ttf),
        url(../fonts/droid-serif/DroidSerif-Italic.ttf),
        url(../fonts/droid-serif/DroidSerif-BoldItalic.ttf),
        url(../fonts/droid-serif/DroidSerif-Bold.ttf);
}