.team {
    background-color: #f9f9f9;
}

.team-main-wrap {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
}

.team-title {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    color: #222222;
}

.team-desc {
    padding-bottom: 40px;
    text-align: center;
    font-family: Droid-Serif, sans-serif;
    font-style: italic;
    color: #777777;
}

// .team-wrap {
//     max-width: 650px;
//     width: 100%;
//     margin: 0 auto;
// }

.team-element {}

.team-img-wrap {
    position: relative;
    display: inline-block;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    cursor: pointer;

    &:hover .team-img-desc {
        background-color: rgba(0, 0, 0, 0.5);
        color: rgba(255, 255, 255, 1);
    }
}

.team-img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
}

.team-img-desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 168px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0);
    transition: .9s;
    z-index: 1
}

.team-element-name {
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
    color: #222222;
}

.team-element-prof {
    padding-bottom: 10px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
}

.team-icon-wrap {
    padding-bottom: 50px;
}

.team-icon-cont {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border: 3px solid #222222;
    border-radius: 50%;
    background-color: #f9f9f9;
    color: #222222;
    cursor: pointer;

    &:hover {
        border: #fed136;
        background-color: #fed136;
        color: #fff;
    }
}

.team-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 640px) {
    .team-title {
        margin-top: 119px;
    }

    .team-wrap {
        display: flex;
        justify-content: space-between;
    }

    .team-desc {
        // width: 650px;
        // margin: 0 auto;
        padding-bottom: 83px;
    }

    .team-desc:nth-of-type(2) {
        padding-bottom: 117px;
    }
}